<h1>Playlists</h1>

<form ng-submit="addPlaylist(newPlaylistName);newPlaylistName=null">
	<div class="form-group">
		<input
			ng-model="newPlaylistName"
			class="form-control ng-pristine ng-valid"
			type="text"
			name="newPlaylistName"
			required
		>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-default">Add a new playlist</button>
	</div>
</form>

<div ng-repeat="playlist in playlists">
	<a ui-sref="logedIn.playlist({name: '{{playlist.name}}' })">{{playlist.name}}</a>
</div>
